<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../GCWeb/css/theme.min.css" />
    <!-- <link rel="stylesheet" href="../GCWeb/css/gcwu.custom.css" /> -->
    <noscript>
      <link rel="stylesheet" href="../GCWeb/wet-boew/css/noscript.min.css" />
    </noscript>
    <title>IAMC Map Prototype</title>
  </head>
  <body>
    <div class="container-fluid mrgn-bttm-sm">
      <div class="row mrgn-bttm-sm">
        <div class="col-md-12">
          <h1>IAMC Map Prototype</h1>
          <p class="small">Updated September 2021</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-warning">
            <p id="overlap-meta-point"></p>
          </div>
        </div>
        <div class="col-md-4" id="incident-meta-point-on"></div>
        <div class="col-md-4" id="incident-meta-point-off"></div>
      </div>
      <div class="row mrgn-bttm-md map-row">
        <div class="col-md-12 col-sm-12" style="height: 100%">
          <section class="panel panel-default" id="map-panel">
            <header class="panel-heading" id="map-panel-heading">
              <h5
                class="panel-title header-text center-vert"
                id="leaflet-map-title"
              ></h5>
              <div
                id="full-screen-btn"
                class="pull-right center-vert header-btn"
              >
                <button
                  type="button"
                  class="btn btn-primary btn-xs"
                  onclick="openFullscreen();"
                >
                  Enter Fullscreen
                </button>
              </div>
            </header>
            <div class="panel-body" id="map-panel-body">
              <div id="map">
                <div class="loader"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="row mrgn-tp-md">
        <div class="col-md-12">
          <details>
            <summary><strong>Dashboard Instructions</strong></summary>
            <ul class="lst-spcd">
              <li>Please use Chrome or Edge when viewing this prototype!</li>
              <li>
                You may need to refresh the page or press F5 to view the most
                recent version of the prototype.
              </li>
              <li>
                Use your mouse, trackpad, or the buttons in the upper left
                corner of the map to zoom in and out.
              </li>
              <li>
                Click the "Reset Map" button to reset the map scope and sidebar.
              </li>
              <li>
                The yellow highlighted blue regions correspond to First Nations
                reserves where an overlap with CER Infrastructure has been
                detected using an automated GIS process.
              </li>
              <li>
                The calculations, distances, and totals are estimates based on
                the best available data and GIS assumptions. The accuracy of
                this map is not guaranteed, and the values/analysis are subject
                to change based on data availability and GIS assumptions.
              </li>
            </ul>
          </details>
          <details>
            <summary>
              <strong id="treaty-length-title"></strong>
            </summary>
            <div id="treaty-length"></div>
          </details>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../GCWeb/wet-boew/js/wet-boew.min.js"></script>
    <script>
      function openFullscreen() {
        var elem = document.getElementById("map-panel");
        elem.style.width = "100%";
        elem.style.height = "100%";
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) {
          /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          /* IE11 */
          elem.msRequestFullscreen();
        }
      }
    </script>
  </body>
</html>
