<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../../GCWeb/assets/favicon.ico"
      rel="icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../GCWeb/css/theme.min.css" />
    <noscript>
      <link rel="stylesheet" href="../../GCWeb/wet-boew/css/noscript.min.css" />
    </noscript>
    <title>Community Profiles Tutorial</title>
  </head>
  <body>
    <div class="container-fluid mrgn-bttm-sm">
      <div class="row mrgn-bttm-sm">
        <div class="col-md-12">
          <h1>Community Profiles Tutorial</h1>
          <p class="small">Updated January 2022</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            This tutorial will teach you how to use the interactive map features
            of the Community Profiles web app. For additional information, or to
            request a demo, please email
            <a href="mailto:grant.moss@cer-rec.gc.ca"
              >Grant Moss (grant.moss@cer-rec.gc.ca)</a
            >.
          </p>
          <details open="open" class="mrgn-bttm-md">
            <summary>General Instructions</summary>
            <ul>
              <li>For the best experience, avoid using Internet Explorer.</li>
              <li>
                Larger screen sizes (tablet, laptop, desktop) will be easier to
                use compared to mobile phones.
              </li>
            </ul>
          </details>
          <details open="open">
            <summary>Map Navigation</summary>
            <strong>Laptop/Desktop</strong>
            <p>
              While hovering over the map, use your mouse or trackpad to zoom in
              and out of the map.
            </p>
            <strong>Phone/tablet</strong>
            <p>
              Use two fingers in a pinch action on the screen to zoom in and
              out.
            </p>
          </details>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../../GCWeb/wet-boew/js/wet-boew.min.js"></script>
  </body>
</html>
