#map {
  height: 550px;
}

#fn-tooltip tr {
  border-bottom: 1pt solid #dcdcdc;
  width: 300px;
  overflow: visible;
}

.fn-panel {
  overflow: auto;
}

.text-val {
  font-weight: bold;
  font-style: normal;
}

#click-fn-info {
  margin-bottom: 15px;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.center-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 0px;
  color: #777;
  font-weight: bolder;
  font-size: large;
}

.no-hover {
  cursor: grab !important;
}
